@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    
    /* Colore Principale (Brand) */
    --color-primary: #e11d48;       /* blue-600 */
    --color-primary-dark: #1d4ed8;  /* blue-700 */
    --color-primary-light: #eff6ff; /* blue-50 (usato per sfondi chiari) */

    /* Colore Successo (Pagamento) */
    --color-success: #16a34a;       /* green-600 */
    --color-success-dark: #15803d;  /* green-700 */
  }
}